{
    "env": {
      "browser": true,
    },
    "extends": "airbnb",
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "rules": {
        "radix": ["off"],
        "linebreak-style": ["error", "windows"],
        "arrow-body-style": ["error", "as-needed", { "requireReturnForObjectLiteral": true } ],
        "arrow-parens": ["error", "always"],
        "react/forbid-prop-types": ["error", { "forbid": [] }],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/jsx-closing-bracket-location": ["error", "after-props"],
        "react/jsx-first-prop-new-line": ["error", "never"],
        "react/jsx-indent": ["error", 4],
        "react/self-closing-comp": ["error", {
          "component": false,
          "html": false,
        }],
        "max-len": ["error", 200],
        "quotes": ["error", "double"],
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "react/prop-types": ["error", { "skipUndeclared": true }],
        "no-fallthrough": ["off"],
        "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
        "class-methods-use-this": ["off"],
        "no-return-assign": ["error", "except-parens"],
        "no-use-before-define": ["off"]
    },
    "globals": {
        "smoothScroll": true,
        "later": true,
        "dragscroll": true,
        "__webpack_version__": true,
        "__webpack_hash__": true
    }
}
