body, html {
  height: 100%;
}
.my-drawer {
  position: relative;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar {
  background-color: #fff;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar .am-list {
  width: 300px;
  padding: 0;
}

.sc-example {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: 0px !important;
  /* margin-bottom: 1px; */
}
.sc-example1 {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: 0px !important;
  margin-bottom: 1px;
}

.pName {
  font-weight: bold;
  margin-bottom: 0px;
}
.pNum {
  font-size: 12px;
  margin-top: 0px;
}
.pOrder {
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#NewOrder .am-navbar-left {
  padding-left: 0px;
}
.picker-list .am-list-item .am-list-line .am-list-extra {
  flex-basis: initial;
}

.test {
  position: relative;
  border-bottom: 0;
}

.test:after {
  content: '';
  position: absolute;
  background-color: #ddd;
  display: block;
  z-index: 1;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1PX;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.my-radio .am-radio {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-right: 5px;
}
.am-radio.am-radio-checked .am-radio-inner:after {
  border-color: #F1C40F !important;
  top: -7px;
}
.ant-select-selection--single .ant-select-selection__rendered {
  margin-right: 0px;
}
/* .ant-select-selection {
  border-color: #F1C40F;
} */
/* .ant-select-selection:hover {
  border-color: #F1C40F;
} */
.floatB {
  position: fixed;
	width: 50px;
	height: 50px;
	bottom: 40px;
	right: 20px;
	background-color:#F1C40F;
	color:#FFF;
	border-radius: 50px;
	text-align: center;
	box-shadow: 2px 2px 3px #999; 
}
.my-float{
	margin-top: 19px;
}
#name::-webkit-input-placeholder, #contactNum::-webkit-input-placeholder,
#delAddress::-webkit-input-placeholder, #discount::-webkit-input-placeholder,
#request::-webkit-input-placeholder, #specialOffers::-webkit-input-placeholder,
#email::-webkit-input-placeholder, #facebook::-webkit-input-placeholder,
#instagram::-webkit-input-placeholder {
  font-size: 14px;
  color: #888;
}
.am-list-item, .am-list-item.am-input-item {
  padding-left: 10px;
}
.phStyle {
  color: #888; 
  font-size: 14px;
  padding-left: -5px;
}
.ant-fullcalendar-header {
  text-align: center;
}
.ant-fullcalendar-column-header .ant-fullcalendar-column-header-inner {
  font-weight: bold;
}